.container {
  .form {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    gap: 15px;
    align-items: center;

    .input {
      color: #dbb5ff;
      border: 2px solid #8707ff;
      border-radius: 10px;
      padding: 10px 25px;
      background: transparent;
      width: 300px;
      font-weight: bold;
      font-size: 14px;

      &:active {
        box-shadow: 2px 2px 15px #8707ff inset;
      }
    }

    .submitBtn {
      width: 200px;
      height: 60px;
      background-color: #8707ff;
      color: #282c34;
      border-radius: 20px;
      border: 1px solid #c086ee;
      font-size: 18px;
      font-weight: bold;

      &:hover {
        background-color: #8f5ace;
      }

      &:active {
        background-color: #b885f6;
      }
    }
  }

}
