.activePlayerContainer {
  max-width: 291px;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  color: #8f5ace;
  width: 100%;

  span {
    color: rgba(208, 176, 255, 0.81);
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgb(104, 17, 166) 0%, rgb(107, 52, 150) 35%, rgb(144, 92, 232) 100%);
  font-family: "Indie Flower", cursive;
  border: 2px solid rgba(57, 1, 77, 0.74);
  width: auto;

  .col {
    display: flex;

    .cell {
      width: 100px;
      height: 100px;
      border: 3px solid rgba(57, 1, 77, 0.74);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: xxx-large;
      text-transform: capitalize;
      cursor: pointer;
      color: #ffff;
      font-weight: 900;
    }
  }

}

.winnerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;

  .winnerInfo {
    color: #c086ee;

    span {
      color: #ae56d7;
      font-weight: bold;
    }
  }


  .resetBtn {
    height: 60px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    color: #714e77;
    border-radius: 20px;
    border: 1px solid #c086ee;
    font-size: 18px;
    font-weight: bold;
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 10px #eee;

    &:hover {
      background-position: right center;
    }

    &:active {
      background-color: #b885f6;
    }
  }
}